*.o

*.bin

*.elf

*.obj

build/

bin/

.cache/

well-confugured-grub/

OVMF.fd

log/


*.txt

!CMakeLists.txt

disas/

.clangd

.clangd-format

.clangd-tidy

subproj/

日志.md

unused/

.vscode/

.ssh/

.git/

calltree.dot

reloccheat.py

gdb.sh

gen_inthandler.py
